* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #e63e62;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#list_container {
    background-color: #ff94ac;
    margin: 0px auto;
    padding: 1rem;
}

#task_form {
    margin: 0px auto;
    text-align: center;
    padding: 1rem;
}

#add_menu_bar {
    background-color: blueviolet;
    margin: 0px auto;
    height: 10%;
}

input {
    display: inline-block;
    width: 50%;
    margin: 0.6rem 1rem;
    padding: 1rem;
    border: 1px solid rgb(163, 160, 160);
    border-radius: 5px;
    cursor: pointer;
}

input[type="date"]{
    width: 10rem;
    cursor: pointer;
}

button {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: brown;
    cursor: pointer;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: auto;
    width: 100%;
    text-align: center;
}

li {
    /*border: 1px solid;*/
}

input[type="checkbox"]{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 1px solid;
    cursor: pointer;
    text-align: center;
}

label{
    display: inline-block;
    width: 35%;
    height: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.label_Checked {
    text-decoration-line: line-through;
    text-decoration-color: #ffffff;
    text-decoration-style: wavy;
    color: rgba(0, 0, 0, 0.623);
}