.menu {
    display: flex;
    max-width: 800px;
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    height: 36px;
    background: #ccc;
}

.menu-item {
    flex-grow: 1;
    position: relative;
    padding: 10px;
    text-align: center;
}

.submenu {
    display: none;
    list-style: none;
    position: absolute;
    top: 36px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #ddd;
}

.submenu > li {
    padding: 10px;
}

.menu-item.active > .submenu {
    display: block;
}

